<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=
               "http://www.springframework.org/schema/beans
               http://www.springframework.org/schema/beans/spring-beans.xsd">

    <beans profile="dev">
        <bean name="articleBlogDev" class="com.javamind.dto.ArticleBlog">
            <property name="title" value="Mon article de dev"/>
        </bean>
    </beans>

    <beans profile="prod">
        <bean name="articleBlogProd" class="com.javamind.dto.ArticleBlog">
            <property name="title" value="Mon article de prod"/>
        </bean>
    </beans>
</beans>